*{
    padding: 0;
}
.row100{
    width: 100px;
}

.row200{
    width: 200px;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding: 5px 10px;
}

.GradesHeader, .GradeNameInput{
    margin: 15px auto;
}